@import './base.css';

:root {
  --header-height: 110px;
  --footer-height: 80px;
  --dark-blue: #152233;
  --medium-blue: #627c93;
  --blue: #0f4171;
  --white: #f4f9fe;
  --orange-main: #ec5b35;
  --orange-dark: #924726;
  --orange-light: #fce9de;
  --grey-light: #e6eaee;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--dark-blue);
}

.container {
  width: 1055px;
  margin: 0 auto;
}
